ALLOWED_MIME_TYPES=
API_PREFIX=
APP_DESCRIPTION=
APP_NAME=
DATABASE_URL=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=
JWT_REFRESH_SECRET=
JWT_SECRET=
MAX_FILE_SIZE_MB=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
UPLOAD_DESTINATION=